name: Release

on:
  push:
    tags:
      - "v*"
    branches:
      - main

env:
  # Necessary for most environments
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.24"
          check-latest: true

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "20"

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev

      - name: Build
        run: |
          wails build -platform ${{ matrix.os == 'macos-latest' && 'darwin/universal' || 'windows/amd64,linux/amd64' }} ${{ matrix.os == 'ubuntu-latest' && '-tags webkit2_41' || '' }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: imagery-desktop-${{ matrix.os }}
          path: build/bin/*

  semantic-release:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Download Artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: imagery-desktop-*
          path: release_assets

      - name: Semantic Release
        id: semantic
        uses: go-semantic-release/action@v1.24.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          force-bump-patch-version: true

      - name: Upload Release Assets
        if: steps.semantic.outputs.version != ''
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="v${{ steps.semantic.outputs.version }}"
          echo "Uploading assets to release $VERSION"

          # Iterate over all downloaded artifacts
          find release_assets -type f | while read -r file; do
            echo "Uploading $file..."
            gh release upload "$VERSION" "$file" --clobber
          done
